Carcel/Connected Services/Visita/WSVisita.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service/" targetNamespace="http://service/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="agregarVisita" type="tns:agregarVisita" />
  <xs:element name="agregarVisitaResponse" type="tns:agregarVisitaResponse" />
  <xs:element name="buscar" type="tns:buscar" />
  <xs:element name="buscarResponse" type="tns:buscarResponse" />
  <xs:element name="count" type="tns:count" />
  <xs:element name="countResponse" type="tns:countResponse" />
  <xs:element name="create" type="tns:create" />
  <xs:element name="createResponse" type="tns:createResponse" />
  <xs:element name="edit" type="tns:edit" />
  <xs:element name="editResponse" type="tns:editResponse" />
  <xs:element name="find" type="tns:find" />
  <xs:element name="findAll" type="tns:findAll" />
  <xs:element name="findAllResponse" type="tns:findAllResponse" />
  <xs:element name="findRange" type="tns:findRange" />
  <xs:element name="findRangeResponse" type="tns:findRangeResponse" />
  <xs:element name="findResponse" type="tns:findResponse" />
  <xs:element name="horario" type="tns:horario" />
  <xs:element name="idvisita" type="tns:idvisita" />
  <xs:element name="idvisitaResponse" type="tns:idvisitaResponse" />
  <xs:element name="penal" type="tns:penal" />
  <xs:element name="preso" type="tns:preso" />
  <xs:element name="remove" type="tns:remove" />
  <xs:element name="removeResponse" type="tns:removeResponse" />
  <xs:element name="visita" type="tns:visita" />
  <xs:complexType name="find">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:visita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="visita">
    <xs:sequence>
      <xs:element name="edad" type="xs:short" />
      <xs:element minOccurs="0" name="horarioIdHorario" type="tns:horario" />
      <xs:element minOccurs="0" name="idVisita" type="xs:string" />
      <xs:element minOccurs="0" name="nombreV" type="xs:string" />
      <xs:element minOccurs="0" name="observacion" type="xs:string" />
      <xs:element minOccurs="0" name="presoIdPreso" type="tns:preso" />
      <xs:element name="tiempoVisita" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="horario">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionH" type="xs:string" />
      <xs:element minOccurs="0" name="idHorario" type="xs:short" />
      <xs:element name="minutos" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="preso">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPreso" type="xs:short" />
      <xs:element minOccurs="0" name="nombreV" type="xs:string" />
      <xs:element minOccurs="0" name="penalIdPenal" type="tns:penal" />
      <xs:element minOccurs="0" name="sexoV" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="visitaV" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="penal">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idPenal" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findRange">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="range" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findRangeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:visita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="edit">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:visita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscar">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:visita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="idvisita">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="idvisitaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remove">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:visita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findAll">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="findAllResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:visita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarVisita">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
      <xs:element minOccurs="0" name="observacion" type="xs:string" />
      <xs:element name="idPreso" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="edad" type="xs:short" />
      <xs:element name="idHorario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarVisitaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="count">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="countResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="create">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:visita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>