Carcel/Connected Services/horario/WSHorario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service/" targetNamespace="http://service/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarHorario" type="tns:buscarHorario" />
  <xs:element name="buscarHorarioResponse" type="tns:buscarHorarioResponse" />
  <xs:element name="countHorario" type="tns:countHorario" />
  <xs:element name="countHorarioResponse" type="tns:countHorarioResponse" />
  <xs:element name="createHorario" type="tns:createHorario" />
  <xs:element name="createHorarioResponse" type="tns:createHorarioResponse" />
  <xs:element name="editHorario" type="tns:editHorario" />
  <xs:element name="editHorarioResponse" type="tns:editHorarioResponse" />
  <xs:element name="findAllHorario" type="tns:findAllHorario" />
  <xs:element name="findAllHorarioResponse" type="tns:findAllHorarioResponse" />
  <xs:element name="findHorario" type="tns:findHorario" />
  <xs:element name="findHorarioResponse" type="tns:findHorarioResponse" />
  <xs:element name="findRangeHorario" type="tns:findRangeHorario" />
  <xs:element name="findRangeHorarioResponse" type="tns:findRangeHorarioResponse" />
  <xs:element name="horario" type="tns:horario" />
  <xs:element name="removeHorario" type="tns:removeHorario" />
  <xs:element name="removeHorarioResponse" type="tns:removeHorarioResponse" />
  <xs:complexType name="removeHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="horario">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionH" type="xs:string" />
      <xs:element minOccurs="0" name="idHorario" type="xs:short" />
      <xs:element name="minutos" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeHorarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findAllHorario">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="findAllHorarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findHorarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarHorario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarHorarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="countHorario">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="countHorarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findRangeHorario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="range" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findRangeHorarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createHorarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editHorarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>