Carcel/Connected Services/preso/WSPreso.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service/" targetNamespace="http://service/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgregarPreso" type="tns:AgregarPreso" />
  <xs:element name="AgregarPresoResponse" type="tns:AgregarPresoResponse" />
  <xs:element name="buscarPreso" type="tns:buscarPreso" />
  <xs:element name="buscarPresoResponse" type="tns:buscarPresoResponse" />
  <xs:element name="countPreso" type="tns:countPreso" />
  <xs:element name="countPresoResponse" type="tns:countPresoResponse" />
  <xs:element name="createPreso" type="tns:createPreso" />
  <xs:element name="createPresoResponse" type="tns:createPresoResponse" />
  <xs:element name="editPreso" type="tns:editPreso" />
  <xs:element name="editPresoResponse" type="tns:editPresoResponse" />
  <xs:element name="findAllPreso" type="tns:findAllPreso" />
  <xs:element name="findAllPresoResponse" type="tns:findAllPresoResponse" />
  <xs:element name="findPreso" type="tns:findPreso" />
  <xs:element name="findPresoResponse" type="tns:findPresoResponse" />
  <xs:element name="findRangePreso" type="tns:findRangePreso" />
  <xs:element name="findRangePresoResponse" type="tns:findRangePresoResponse" />
  <xs:element name="listarTodo" type="tns:listarTodo" />
  <xs:element name="listarTodoResponse" type="tns:listarTodoResponse" />
  <xs:element name="penal" type="tns:penal" />
  <xs:element name="preso" type="tns:preso" />
  <xs:element name="removePreso" type="tns:removePreso" />
  <xs:element name="removePresoResponse" type="tns:removePresoResponse" />
  <xs:complexType name="findPreso">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findPresoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:preso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="preso">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPreso" type="xs:short" />
      <xs:element minOccurs="0" name="nombreV" type="xs:string" />
      <xs:element minOccurs="0" name="penalIdPenal" type="tns:penal" />
      <xs:element minOccurs="0" name="sexoV" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="visitaV" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="penal">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idPenal" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="countPreso">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="countPresoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPreso">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPresoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:preso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarPreso">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="sexo" type="xs:unsignedShort" />
      <xs:element name="visita" type="xs:unsignedShort" />
      <xs:element name="penal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarPresoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findRangePreso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="range" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findRangePresoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:preso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:preso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findAllPreso">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="findAllPresoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:preso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createPreso">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:preso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createPresoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removePreso">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:preso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removePresoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editPreso">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:preso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editPresoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>