Carcel/Connected Services/preso/WSPreso.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://service/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WSPreso" targetNamespace="http://service/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WSCarcelJava/WSPreso?xsd=1" namespace="http://service/" />
    </xsd:schema>
  </types>
  <message name="findPreso">
    <part name="parameters" element="tns:findPreso" />
  </message>
  <message name="findPresoResponse">
    <part name="parameters" element="tns:findPresoResponse" />
  </message>
  <message name="buscarPreso">
    <part name="parameters" element="tns:buscarPreso" />
  </message>
  <message name="buscarPresoResponse">
    <part name="parameters" element="tns:buscarPresoResponse" />
  </message>
  <message name="countPreso">
    <part name="parameters" element="tns:countPreso" />
  </message>
  <message name="countPresoResponse">
    <part name="parameters" element="tns:countPresoResponse" />
  </message>
  <message name="findRangePreso">
    <part name="parameters" element="tns:findRangePreso" />
  </message>
  <message name="findRangePresoResponse">
    <part name="parameters" element="tns:findRangePresoResponse" />
  </message>
  <message name="createPreso">
    <part name="parameters" element="tns:createPreso" />
  </message>
  <message name="createPresoResponse">
    <part name="parameters" element="tns:createPresoResponse" />
  </message>
  <message name="editPreso">
    <part name="parameters" element="tns:editPreso" />
  </message>
  <message name="editPresoResponse">
    <part name="parameters" element="tns:editPresoResponse" />
  </message>
  <message name="removePreso">
    <part name="parameters" element="tns:removePreso" />
  </message>
  <message name="removePresoResponse">
    <part name="parameters" element="tns:removePresoResponse" />
  </message>
  <message name="findAllPreso">
    <part name="parameters" element="tns:findAllPreso" />
  </message>
  <message name="findAllPresoResponse">
    <part name="parameters" element="tns:findAllPresoResponse" />
  </message>
  <message name="AgregarPreso">
    <part name="parameters" element="tns:AgregarPreso" />
  </message>
  <message name="AgregarPresoResponse">
    <part name="parameters" element="tns:AgregarPresoResponse" />
  </message>
  <message name="listarTodo">
    <part name="parameters" element="tns:listarTodo" />
  </message>
  <message name="listarTodoResponse">
    <part name="parameters" element="tns:listarTodoResponse" />
  </message>
  <message name="actualizarpreso">
    <part name="parameters" element="tns:actualizarpreso" />
  </message>
  <message name="actualizarpresoResponse">
    <part name="parameters" element="tns:actualizarpresoResponse" />
  </message>
  <portType name="WSPreso">
    <operation name="findPreso">
      <input wsam:Action="http://service/WSPreso/findPresoRequest" message="tns:findPreso" />
      <output wsam:Action="http://service/WSPreso/findPresoResponse" message="tns:findPresoResponse" />
    </operation>
    <operation name="buscarPreso">
      <input wsam:Action="http://service/WSPreso/buscarPresoRequest" message="tns:buscarPreso" />
      <output wsam:Action="http://service/WSPreso/buscarPresoResponse" message="tns:buscarPresoResponse" />
    </operation>
    <operation name="countPreso">
      <input wsam:Action="http://service/WSPreso/countPresoRequest" message="tns:countPreso" />
      <output wsam:Action="http://service/WSPreso/countPresoResponse" message="tns:countPresoResponse" />
    </operation>
    <operation name="findRangePreso">
      <input wsam:Action="http://service/WSPreso/findRangePresoRequest" message="tns:findRangePreso" />
      <output wsam:Action="http://service/WSPreso/findRangePresoResponse" message="tns:findRangePresoResponse" />
    </operation>
    <operation name="createPreso">
      <input wsam:Action="http://service/WSPreso/createPresoRequest" message="tns:createPreso" />
      <output wsam:Action="http://service/WSPreso/createPresoResponse" message="tns:createPresoResponse" />
    </operation>
    <operation name="editPreso">
      <input wsam:Action="http://service/WSPreso/editPresoRequest" message="tns:editPreso" />
      <output wsam:Action="http://service/WSPreso/editPresoResponse" message="tns:editPresoResponse" />
    </operation>
    <operation name="removePreso">
      <input wsam:Action="http://service/WSPreso/removePresoRequest" message="tns:removePreso" />
      <output wsam:Action="http://service/WSPreso/removePresoResponse" message="tns:removePresoResponse" />
    </operation>
    <operation name="findAllPreso">
      <input wsam:Action="http://service/WSPreso/findAllPresoRequest" message="tns:findAllPreso" />
      <output wsam:Action="http://service/WSPreso/findAllPresoResponse" message="tns:findAllPresoResponse" />
    </operation>
    <operation name="AgregarPreso">
      <input wsam:Action="http://service/WSPreso/AgregarPresoRequest" message="tns:AgregarPreso" />
      <output wsam:Action="http://service/WSPreso/AgregarPresoResponse" message="tns:AgregarPresoResponse" />
    </operation>
    <operation name="listarTodo">
      <input wsam:Action="http://service/WSPreso/listarTodoRequest" message="tns:listarTodo" />
      <output wsam:Action="http://service/WSPreso/listarTodoResponse" message="tns:listarTodoResponse" />
    </operation>
    <operation name="actualizarpreso">
      <input wsam:Action="http://service/WSPreso/actualizarpresoRequest" message="tns:actualizarpreso" />
      <output wsam:Action="http://service/WSPreso/actualizarpresoResponse" message="tns:actualizarpresoResponse" />
    </operation>
  </portType>
  <binding name="WSPresoPortBinding" type="tns:WSPreso">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="findPreso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarPreso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="countPreso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="findRangePreso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="createPreso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editPreso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="removePreso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="findAllPreso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AgregarPreso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarpreso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WSPreso">
    <port name="WSPresoPort" binding="tns:WSPresoPortBinding">
      <soap:address location="http://localhost:8080/WSCarcelJava/WSPreso" />
    </port>
  </service>
</definitions>